.contain{
    width:60%;
    margin: auto;
    background-color: bisque;
    padding: 30px;
}
h1{
    color: rgb(66, 7, 7);
}
p, h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imagec{
    text-align: center;
}
span{
    font-weight: 700;
    background-color: rgb(255, 246, 236);
}
