<div class="contain">

<h1 i18n="@@greetingTitle">Angular (web framework)</h1>
<p i18n="@@greetingMessage">Angular (also referred to as "Angular 2+")
     is a TypeScript-based free and open-source single-page web application framework. 
     It is developed by Google and by a community of individuals and corporations. 
     Angular is a complete rewrite from the same team that built AngularJS. The Angular 
     ecosystem consists of a diverse group of over 1.7 million developers, library authors, 
     and content creators. According to the Stack Overflow Developer Survey, 
     Angular is one of the most commonly used web frameworks.
</p>
<div class="imagec">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Angular_Logo_SVG.svg/200px-Angular_Logo_SVG.svg.png" />
</div>
</div>